
@{
    ViewBag.Title = "Yenikategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div style=" width: 1139px; height: 85px; background-image: url('../../images/kategori-ekle.png');">

</div>
<form class="form-group" method="post">
    <div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="kategori_ad" required="" />
    </div><br />
    <button class="btn btn-info">Kategori Ekle</button>
</form>

