
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>STOK-TAKİP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color:lavender">
    <div style="background-color:black">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"></a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"># STOK TAKİP</a></li>
                    <li><a href="/ketegori/Index/">Kategoriler</a></li>
                    <li><a href="/musteri/Index/">Müşteriler</a></li>
                    <li><a href="/Urun/Index/">Ürünler</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
