<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2e02ab79-b149-44a6-9036-620331da3d90/resourcegroups/KAYNAK/providers/Microsoft.Web/sites/StokTakipOtomasyonu</ResourceId>
    <ResourceGroup>KAYNAK</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://stoktakipotomasyonu.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>stoktakipotomasyonu.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StokTakipOtomasyonu</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$StokTakipOtomasyonu</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="mvcstokEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bulut1.database.windows.net,1433;Initial Catalog=mvcstok;User ID=mvcstok@bulut1;Password=Admin123." Name="Data Source=tcp:bulut1.database.windows.net,1433;Initial Catalog=mvcstok;User Id=mvcstok@bulut1;Password=Admin123." />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="stoktakip.Models.Entity.mvcstokEntities, stoktakip" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="mvcstokEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Entity.Model1.csdl|res://*/Models.Entity.Model1.ssdl|res://*/Models.Entity.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:bulut1.database.windows.net,1433;Initial Catalog=mvcstok;User Id=mvcstok@bulut1;Password=Admin123."</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>